<section class="about d-flex align-items-center ">
    <div class="containar text-white">
  <h1 class="text-uppercase text-center fw-bold py-3 text-center">about component
</h1>


 <div class="text-center mb-3">
<div class="line-star"></div> 
<i class="fas fa-star text-white fa-xl"></i>
<div class="line-star"></div>


<div class="row">
    <div class="col-md-6">
<div class="abuyt-info small">
    <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
</div>
    </div>
     <div class="col-md-6">
<div class="abuyt-info small">
    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
</div>
    </div>
</div>
    </div>

    </div>
   
    



</section>
    