<section class="contact mb-4">
<h1 class="text-uppercase fw-bold py-3 text-center">conatct section
</h1>
<div class="text-center">
<div class="line-star"></div>
<i class="fas fa-star text-white fa-xl"></i>
<div class="line-star"></div>

    </div>








    <form class="w-50 mx-auto mt-4">
 <div class="mt-4">
    <label for="exampleInputEmail1" class="form-label">User Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>

         <div class="mt-4">
    <label for="exampleInputEmail1" class="form-label">User Age</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mt-4">
    <label for="exampleInputEmail1" class="form-label">User Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mt-4">
    <label for="exampleInputPassword1" class="form-label"> user Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Send massge</button>
</form>
</section>