<section class="home d-flex align-items-center">
    <div class="container ">
   <div class="item text-center text-white w-75 mx-auto">




     <img class="home-img" src="/img/avataaars.svg" alt="">
    <h2 class="text-uppercase fw-bold py-3">start Framework
 </h2>   
 
 

     <div class="text-center">
<div class="line-star"></div>
<i class="fas fa-star text-white fa-xl"></i>
<div class="line-star"></div>
<p>Graphic Artist - Web Designer - Illustrator</p>
    </div>

   </div>
  
    </div>



</section>
